@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
:root {
  /* colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font size */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

/************************
    General stylings
 ************************/
* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}
.section-title {
  text-align: center;
  font-size: var(--font-size-xl);
  text-transform: uppercase;
  padding: 60px 0 100px;
}
.section-title::after {
  content: "";
  width: 80px;
  height: 5px;
  display: block;
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
  background-color: var(--secondary-color);
}
/************************
    Header/Nav section
 ************************/
header {
  background-color: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 5;
}
/* here I used navbar and it was having specificity issues */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#logo a {
  font-size: var(--font-size-xl);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
}
#menu-close-button,
#menu-open-button {
  display: none;
}
.nav-item-list {
  display: flex;
  gap: 10px;
}
.nav-link {
  font-size: var(--font-size-m);
  color: var(--white-color);
  padding: 10px 18px;
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}
.nav-link:hover,
.navlink:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

/************************
    Hero section
 ************************/
.hero-section {
  background-color: var(--primary-color);
  min-height: 100vh;
}
.hero-section .section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--white-color);
}
.title {
  font-size: var(--font-size-xxl);
  font-family: "Miniver", sans-serif;
  color: var(--secondary-color);
}
.subtitle {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  max-width: 70%;
  margin-top: 8px;
}
.description {
  max-width: 70%;
  font-size: var(--font-size-m);
  margin: 24px 0 40px;
}
.hero-img-wrapper {
  max-width: 500px;
  margin-right: 30px;
}
.button-container {
  display: flex;
  gap: 23px;
}
.button {
  padding: 10px 26px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: var(--border-radius-m);
  border: 2px solid transparent;
  transition: 0.3s ease;
}
.button:hover,
.button:focus,
.contact-us {
  border-color: var(--white-color);
  background-color: transparent;
  color: var(--white-color);
}
.contact-us:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-color: transparent;
}
/************************
    About section
 ************************/
.about-section {
  padding: 120px 0;
  background-color: var(--light-pink-color);
}
.about-section .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.about-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: var(--border-radius-circle);
}
.about-details {
  max-width: 50%;
}
.about-section .section-title {
  padding: 0;
}
.about-description {
  line-height: 30px;
  font-size: var(--font-size-m);
  margin: 50px 0 30px;
}
.social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.social-link {
  font-size: var(--font-size-l);
  color: var(--primary-color);
  transition: 0.2s ease;
}
.social-link:hover,
.social-link:focus {
  color: var(--secondary-color);
}
/************************
    About section
 ************************/
.menu-section {
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 50px 0 100px;
}
.menu-item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 110px;
  justify-content: space-between;
}
.menu-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  width: calc(100% / 3 - 110px);
}
.menu-img {
  max-width: 83%;
  aspect-ratio: 1;
  margin: 0 auto;
  margin-bottom: 15px;
  object-fit: contain;
}
.menu-title {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-semibold);
  margin: 12px 0;
}
.menu-description {
  font-size: var(--font-size-m);
}

/************************
    Testimonials section
 ************************/
.testimonials-section {
    padding: 50px 0 100px;
    background-color: var(--light-pink-color);
}
.testimonial {
    display: flex;
    padding: 35px;
    text-align: center;
    flex-direction: column;
    align-items: center;
}
.user-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 50px;
    object-fit: cover;

}
.name {
    margin-bottom: 16px;
    font-size: var(--font-size-m);
}
.feedback {
    line-height: 25px;
}
.testimonials-section .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    opacity: 1;
    background-color: var(--secondary-color);
}
.testimonials-section .swiper-slide-button {
    color: var(--secondary-color);
    margin-top: -50px;
    transition: .3s ease;
}
.testimonials-section .swiper-slide-button:hover {
    color: var(--primary-color);
}
.testimonials-section .slider-wrapper {
    overflow: hidden;
    margin: 0 60px 50px;
}
/************************
    Media Queries
 ************************/
@media screen and (max-width: 1024px) {
  .menu-item-list {
    gap: 60px;
  }
  .menu-item {
    width: calc(100% / 3 - 60px);
  }
}
@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }
  /* Headed/navigation */
  body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
  }
  .nav-item-list {
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--white-color);
    padding-top: 100px;
    transition: 0.3s ease;
  }
  #menu-close-button,
  #menu-open-button {
    display: block;
    font-size: var(--font-size-l);
  }
  #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }
  #menu-open-button {
    color: var(--white-color);
    z-index: 1;
  }
  body.show-mobile-menu .nav-item-list {
    left: 0;
  }
  .nav-link {
    color: var(--dark-color);
    font-size: var(--font-size-l);
    display: block;
    margin-top: 17px;
  }

  /* hero section */
  .hero-section .section-content {
    flex-direction: column-reverse;
    gap: 50px;
    justify-content: center;
    padding: 30px 20px 20px;
    text-align: center;
  }
  .hero-img-wrapper {
    max-width: 270px;
    margin-right: 0;
  }
  .subtitle,
  .description,
  .about-description {
    max-width: 100%;
  }
  .hero-details {
    justify-content: center;
  }

  .about-section .section-content {
    flex-direction: column;
    gap: 70px;
  }
  .about-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    max-width: 250px;
  }

  /* menu */
  .menu-item-list {
    gap: 30px;
  }
  .menu-item {
    width: calc(100% / 2 - 30px);
  }
  .menu-img {
    max-width: 200px;
  }
}
@media screen and (max-width: 640px) {
  .menu-item-list {
    gap: 60px;
  }
  .menu-item {
    width: 100%;
  }
  .testimonials-section .swiper-slide-button{
    display: none;
  }
  .testimonials-section .slider-wrapper{
    margin: 0 0 30px;
  }
}
